@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-4">Welcome to the Library Management System</h1>
    <p class="lead">Manage your collection of books easily and efficiently.</p>

    <hr class="my-4">

    <div class="d-flex flex-column align-items-center">
        
        @if (this.User.Identity.IsAuthenticated)
        {
            <img src="~/images/books.jpg" alt="Books" class="img-fluid" style="max-width: 150px; margin-bottom: 20px;">
            <div style="max-width: 400px;">
            <h3>Books</h3>
            <p>Manage your collection of books.</p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Books")">Manage Books</a>
            </div>
        }
        
    </div>
</div>